:root {
  --primary-blue: #0F1F3A;
  --primary-orange: #FF7A1A;
  --bk-color: #F4F4F4;
  --white: #FFFFFF;
  --dark-tone: #1A1A1A;
  --light-blue: #4A5A78;
  --muted-orange: #F2A45A;
  --cool-grey: #D9D9D9;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.social-links{
    margin-right: 50px;
}

.social-logo{
    width: 35px;
}

.logo{
    width: 100px;
    background-color: var(--bk-color);
    padding: 8px;
    margin-left: 50px;
}