:root {
  --primary-blue: #0F1F3A;
  --primary-orange: #FF7A1A;
  --bk-color: #F4F4F4;
  --white: #FFFFFF;
  --dark-tone: #1A1A1A;
  --light-blue: #4A5A78;
  --muted-orange: #F2A45A;
  --cool-grey: #D9D9D9;
}

body {
  margin: 0 auto;
  max-width: 61em;
  background-color: var(--bk-color);
  color: var(--primary-blue);
}

/* --------- Menu --------- */
.menu-arrow {
  width: 4em;
  position: absolute;
  top: 5%;
  left: 2%;
}

.menu-container {
  width: 2px;
  height: 100vh;
  background-color: var(--dark-tone);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  transition: width 0.3s ease, background-color 0.3s ease;

}

.hidden {
  display: none;
}

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  flex-direction: column;
}

.menu-container .closeBtn {
  position: absolute;
  top: 5%;
  right: 5%;
}

.menu-container a {
  text-decoration: none;
  color: var(--cool-grey);
  font-size: 2em;
}

.menu-container a:hover {
  text-decoration: underline;
}

.closeBtn{
  background-color: var(--dark-tone);
  border: none;
  font-size: 2em;
  font-weight: bold;
  color: var(--cool-grey);
}


/* --------- Scroll animation --------- */
.scroll-item {
  opacity: 0;
  transform: translateX(0) translateY(0);
  transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  will-change: transform, opacity;
}

/* Left → Center */
.from-left {
  transform: translateX(-60px);
}

/* Right → Center */
.from-right {
  transform: translateX(60px);
}

/* When visible */
.show {
  opacity: 1;
  transform: translateX(0) translateY(0);
}